body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

img {
    max-width: 100%;
    height: auto;
}

.container2 {
    width: 100%;
    max-width: 1060px;
    margin: 0 auto;
    padding: 0 10px;
}

.container1 {
    width: 100%;
    max-width: 1265px;
    margin: 0 auto;
    padding: 0 10px;
}

.section_title {
    font-size: 35px;
    line-height: 42px;
    position: relative;
    padding-bottom: 10px;
    display: inline-block;
}

.section_title::before {
    content: '';
    display: block;
    width: 253px;
    height: 3px;
    background-color: #006DFE;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all .5s linear;
}

/*
.section_title:hover::before {
    left: 10%;
    width: 500px;
}
*/

.mask {
    width: 100%;
    height: 100%;
    background-color: #fffefe;
    position: fixed;
    top: 0;
    z-index: 1000;
    transition: .6s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    width: 45px;
    height: 45px;
    border: 10px solid rgba(14, 29, 40, 0.72);
    border-radius: 50%;
    border-left-color: #0E1D28;
    animation: loader 1.3s linear infinite;
}
@keyframes loader {
    100% {
        transform: rotate(360deg);
    }
}

.hide {
    opacity: 0;
}







/*HEADER*/
.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    transition: background-color .3s linear;
    padding-bottom: 5px;
}

.header_active {
    background-color: #0E1D28;
}

.header_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px 5px;
}

.header_nav_logo a img {
    transition: opacity .2s linear;
}

.header_nav_logo a img:hover {
    opacity: .9;
}

.header_nav_menu ul {
    display: flex;
}

.header_nav_menu ul li {
    margin-left: 60px;
}

.header_nav_menu ul li a {
    display: inline-block;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    color: #fff;
    transition: all .2s linear;
    position: relative;
    padding: 10px 25px;
    border: rgba(0, 0, 0, 0) 1px solid;
    border-radius: 3px;
}

.header_nav_menu ul li a:hover {
    opacity: 0.9;
    border: #fff 1px solid;
    transform: scale(1.05);
}

.header_nav_menu a:first-child {
    margin-left: 0px;
}


.header__burger {
    width: 40px;
    height: 28px;
    position: relative;
    display: none;
}

.burger__line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 0;
}

.burger__line_first {
    top: 0;
}

.burger__line_second {
    top: 50%;
    transform: translateY(-50%);
}

.burger__line_third {
    bottom: 0;
}








/*INTRO*/
.intro {
    min-height: 100vh;
    background: url(../img/intro/intro_img.jpg) no-repeat;
    background-size: cover;
    background-position: bottom center;
    padding-top: 265px;
}

.intro_title {
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    color: #fff;

    max-width: 620px;

    margin-bottom: 22px;

    transform: translate(0px, 120%);
    opacity: 0;
    transition: all .8s ease 0s;
}
.intro_title._active {
    transform: translate(0px, 0px);
    opacity: 1;
}


.intro_subtitle {
    font-size: 16px;
    line-height: 24px;
    color: #fff;

    max-width: 550px;
    margin-bottom: 60px;

    transform: translate(0px, 120%);
    opacity: 0;
    transition: all .8s ease 0s;
}

.intro_subtitle._active {
    transform: translate(0px, 0px);
    opacity: 1;
}

.search-form {
    transform: translate(0px, 120%);
    opacity: 0;
    transition: all .8s ease 0s;
}

.search-form._active {
    transform: translate(0px, 0px);
    opacity: 1;
}

.search-form_wrap p {
    display: flex;
    flex-wrap: wrap;
}

.search-form_field {
    background-color: transparent;
    background: url(../img/intro/form_oval.svg) no-repeat left 7px;
    background-size: 20px;

    border: 0;
    border-bottom: 2px solid #BFC0C5;

    width: 300px;
    margin-right: 60px;
    padding-left: 45px;
    padding-bottom: 22px;

    color: #fff;
    font-weight: 400;
    font-size: 18px;
}

.search-form_field::placeholder {
    color: #fff;
    font-weight: 400;
    font-size: 18px;
}

.search-form_submit {
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 29px;

    padding: 15px 40px;
    background-color: #1B7DFF;
    border: 0;
    border-radius: 3px;

    transition: background-color .2s linear;
}

.search-form_submit:hover {
    background-color: #348bff;
}






/*BENEFITS*/
.benefits {
    margin-bottom: 100px;
    padding-top: 10px;
}

.benefits_cont {
    position: relative;
    background-color: #fff;
    box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
}

.benefits_title {
    background-color: #fff;
    font-size: 42px;
    line-height: 42px;

    display: inline-block;
    width: 100%;

    padding: 65px 0 65px 110px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
}

.benefits_cards {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
}

.benefits_card {
    width: 33.33333%;
    transform: translate(0px, 20%);
    opacity: 0;
    transition: all .8s ease 0s;
    display: flex;
    flex-direction: column;
}

.benefits_card._active {
    transform: translate(0px, 0px);
    opacity: 1;
}

.benefits_card:first-child {
    padding-left: 0px;
}

.benefits_card img {
    width: 100%;
    max-width: 66px;
}

.benefits_card h3 {
    font-size: 18px;
    line-height: 24px;
    padding: 37px 0 26px 0;
    font-weight: 700;
}

.benefits_card p {
    font-size: 16px;
    line-height: 24px;
    padding: 0 0 39px 0;
    width: 100%;
    max-width: 317px;
}

.benefits_card a {
    display: block;
    margin: auto 0 115px;
    width: 165px;
    background: url(../img/benefits/Shape.svg) no-repeat right center;

    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    color: #006DFE;

    transition: transform .2s linear;
}

.benefits_card a:hover {
    transform: scale(1.03);
}











/*PLACES*/

.places {
    margin-bottom: 100px;
}

.places_preview {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 36px;
}

.places_preview h2 {
/*    margin-bottom: 36px;*/
}

.places_preview a {
    text-transform: uppercase;
    text-decoration: none;
    color: #006DFE;
    font-size: 16px;
    line-height: 24px;

    height: 24px;
    width: 135px;
    background: url(../img/benefits/Shape.svg) no-repeat right center;
    transition: transform .2s linear;
}

.places_preview a:hover {
    transform: scale(1.03)
}

.places_cards {
    display: flex;
    flex-wrap: wrap;
}

.places_card_50 {
    width: 50%;
    padding-bottom: 10px;
}

.places_card_33 {
    width: 33.33333%;
}

.places_card {
    position: relative;
}

.places_pl10 {
    padding-left: 10px;
}

.places_card_ii {
    overflow: hidden;
}

/*
.places_card_ii::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(21, 24, 36, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}
*/

.places_card_img {
    height: 354px;
    object-fit: cover;
    width: 100%;
    transition: transform .3s linear;
}

.places_card_img:hover {
    transform: scale(1.1);
}
/*

.places_card_title {
    font-size: 50px;
    line-height: 60px;
    color: #fff;
    position: absolute;
    bottom: 27px;
    left: 29px;
    z-index: 15;
}
*/









/*TOURS*/

.tours_item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    align-items: center;
}

.tours_item_img1 {
    width: 50%;
    height: 100%;
    max-height: 370px;
    min-height: 280px;
    object-fit: cover;
    padding: 0 15px;
    transform: translate(-50%, 0px);
    opacity: 0;
    transition: all .8s ease 0s;
}

.tours_item_img1._active {
    transform: translate(0px , 0px);
    opacity: 1;
}

.tours_item_img2 {
    width: 50%;
    height: 100%;
    max-height: 370px;
    min-height: 280px;
    object-fit: cover;
    padding: 0 15px;
    transform: translate(50%, 0px);
    opacity: 0;
    transition: all .8s ease 0s;
}

.tours_item_img2._active {
    transform: translate(0px , 0px);
    opacity: 1;
}

.tours_item_title {
    width: 50%;
    padding: 0 15px;
}

.tit_1 {
    transform: translate(50%, 0);
    opacity: 0;
    transition: all .8s ease 0s;
}

.tit_1._active {
    transform: translate(0px, 0px);
    opacity: 1;
}

.tit_2 {
    transform: translate(-50%, 0);
    opacity: 0;
    transition: all .8s ease 0s;
}

.tit_2._active {
    transform: translate(0px, 0px);
    opacity: 1;
}

.tours_item_title h3 {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 85px;
    width: 100%;
    max-width: 357px;
}

.tours_item_title p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 60px;
    width: 100%;
    max-width: 519px;
}

.tours_item_title a {
    display: inline-block;

    text-transform: uppercase;
    text-decoration: none;
    color: #006DFE;
    font-size: 16px;
    line-height: 24px;
    background: url(../img/benefits/Shape.svg) no-repeat right center;
    transition: transform .2s linear;
}

.tita_1 {
    width: 203px;
}

.tita_2 {
    width: 239px;
}

.tours_item_title a:hover {
    transform: scale(1.03);
}










/*TOP*/

.top {
    margin-bottom: 50px;
}

.top_title {
    margin-bottom: 55px;
    padding: 0 10px;
}

.top_cards {
    display: flex;
    flex-wrap: wrap;
}

.top_card {
    width: 33.33333%;
    padding: 0 10px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
}

.tc_1 {
    transform: scale(.9);
    opacity: 0;
    transition: all .2s linear;
}

.tc_1._active {
    transform: scale(1);
    opacity: 1;
}

.tc_2 {
    transform: scale(.9);
    opacity: 0;
    transition: all .4s linear;
}

.tc_2._active {
    transform: scale(1);
    opacity: 1;
}

.tc_3 {
    transform: scale(.9);
    opacity: 0;
    transition: all .6s linear;
}

.tc_3._active {
    transform: scale(1);
    opacity: 1;
}

.top_card_img {
    height: 100%;
    width: 100%;
    min-height: 310px;
    max-height: 310px;
    position: relative;
    overflow: hidden;
}

.top_card_img:hover .top_card_stats {
    transform: translate(0, 0);
}

.top_card_img img {
    height: 100%;
    width: 100%;
    min-height: 310px;
    max-height: 310px;
    object-fit: cover;
}

.top_card_stats {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px 25px;
    background-color: rgba(21, 24, 36, 0.6);
    transform: translate(0, 100%);
    transition: transform .2s linear;

    display: flex;
}

.top_card_stats h3 {
    margin: 0 145px 0 0;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
}

.top_like {
    width: 100%;
    height: 100%;
    max-height: 24px;
    max-width: 52px;
    min-width: 52px;
    background: url(../img/top/Shape.svg) no-repeat right center;
}

.top_like_value {
    font-size: 16px;
    line-height: 24px;
    color: #fff;
}

.top_comments {
    width: 100%;
    height: 100%;
    max-height: 24px;
    max-width: 45px;
    min-width: 45px;
    margin-left: 30px;
    background: url(../img/top/Shape1.svg) no-repeat right 6px;
}

.top_comments_value {
    font-size: 16px;
    line-height: 24px;
    color: #fff;
}

.top_card p {
    width: 100%;
    max-width: 391px;

    font-size: 16px;
    line-height: 24px;
    padding: 45px 5px 32px 0;
}

.top_card_a {
    display: inline-block;
    background-color: #006DFE;
    width: 100%;
    max-width: 118px;

    font-size: 16px;
    line-height: 20px;
    padding: 12px 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    transition: background-color .2s linear;
    margin: auto 0 0 0;
    border-radius: 3px;
}

.top_card_a:hover {
    background-color: #348bff;
}










/*FOOTER*/

.footer {
    background-color: #0E1D28;
}

.footer_nav {
    display: flex;
}

.footer_nav_logo {
    width: 50%;
    display: flex;
    align-items: center;
    padding-left: 100px;
}
.footer_nav_requisites {
    width: 50%;
    display: flex;
}

.footer_nav_requistes_item {
    width: 33.3333%;
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer_nav_requistes_item ul li a {
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: #fff;
    transition: opacity .2s linear;
}

.footer_nav_requistes_item ul li a:hover {
    opacity: 0.8;
}












@media (max-width: 1900px) {
    .tours_item_img1 {
        transform: translate(0, -50%);
    }

    .tours_item_img2 {
        transform: translate(0, 50%);
    }

    .tit_1 {
        transform: translate(0, 50%);
    }

    .tit_2 {
        transform: translate(0, -50%);
    }

}







@media (max-width: 1100px) {
    .benefits_cards {
        padding: 0 30px;
    }

    .benefits_card {
        padding: 0 10px;
    }
}








@media (max-width: 960px) {
    .intro {
        min-height: 1020px;
    }

    .search-form_field {
        margin-bottom: 25px;
    }


    .benefits_title {
        padding: 65px 0 65px 50px;
    }



    .places_card:last-child {
        display: none;
    }

    .places_card_50 {
        padding-bottom: 5px;
    }

    .places_card_33 {
        width: 50%;
        padding-bottom: 5px;
    }

    .places_pl10 {
        padding-left: 5px;
    }


    .tours_item_title h3 {
        margin-bottom: 55px;
    }

    .tours_item_title p {
        margin-bottom: 40px;
    }



    .top_card {
        width: 50%;
    }

    .top_card_stats {
        transform: translate(0, 0);
        flex-wrap: wrap;
        padding: 15px;
    }

    .top_card_stats h3 {
        width: 100%;
        margin-bottom: 3px;
    }

    .top_comments {
        margin-left: 15px;
    }
}










@media (max-width: 900px) {
    .header_nav_menu ul li {
        margin-left: 30px;
    }

    .header_nav_menu ul li a {
        padding: 10px 15px;
    }

    .benefits_card {
        padding: 0 10px;
    }

    .search-form_field {
        font-size: 24px;
        padding-bottom: 15px;
    }

    .search-form_submit {
        margin-bottom: 25px;
    }
}









@media (max-width: 767px) {
    .header_nav {
        margin: 30px 5px 15px;
    }

    .header_nav_menu {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #000;
        z-index: 10;
        padding: 75px;
        transform: translateX(100%);
        transition: all .3s linear;
    }

    .header_nav_menu_active {
        transform: translateX(0);
    }

    .header_nav_menu ul {
        display: block;
    }

    .header_nav_menu ul li {
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }

    .header_nav_menu ul li:last-child {
        margin-bottom: 0px;
    }

    .header_nav_menu ul li a {
        font-size: 42px;
        line-height: 48px;
    }

    .header__burger {
        display: block;
    }

    .header__nav-close {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 11;
    }

    .header__nav-close-line {
        display: block;
        height: 2px;
        width: 100%;
        background-color: #fff;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .header__nav-close-line:first-child {
        transform: translateY(-50%) rotate(45deg);
    }

    .header__nav-close-line:last-child {
        transform: translateY(-50%) rotate(-45deg);
    }
}






@media (max-width: 600px) {
    .benefits_card {
        width: 100%;
    }

    .benefits_card h3 {
        padding: 10px 0;
    }

    .benefits_card p {
        padding: 0 0 10px;
    }

    .benefits_card a {
        margin: auto 0 30px;
    }

    .benefits_card a:last-child {
        margin: auto 0 50px;
    }



    .places {
        margin-bottom: 50px;
    }

    .places_preview {
        margin-bottom: 25px;
    }

    .places_preview a {
        margin-top: 15px;
    }

    .places_card_50 {
        width: 100%;
    }

    .places_card_33 {
        width: 100%;
    }

    .places_pl10 {
        padding-left: 0px;
    }





    .tours_item {
        flex-wrap: wrap;
        margin-bottom: 50px;
    }

    .tours_item_img1 {
        width: 100%;
    }

    .tours_item_img2 {
        width: 100%;
    }

    .tours_item_title {
        width: 100%;
    }

    .tours_item_title h3 {
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .tours_item_title p {
        margin-bottom: 15px;
    }

    .tours_item_title a {
        margin-bottom: 15px;
    }




    .top_card {
        width: 100%;
        margin-bottom: 30px;
    }

    .top_card p {
        max-width: 100%;
        padding: 15px 5px 15px 0;
    }

    .top_card_a {
        max-width: 100%;
        text-align: center;
    }



    .footer_nav {
        flex-wrap: wrap;
    }

    .footer_nav_logo {
        padding-top: 30px;
        padding-left: 0;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .footer_nav_requisites {
        width: 100%;
        text-align: center;
    }
}








@media (max-width: 450px) {
    .section_title {
        font-size: 25px;
    }

    .section_title::before {
        width: 200px;
    }

    .header_nav_menu {
        padding: 75px 20px;
    }

    .header_nav_menu ul li {
        margin-left: 0px;
        margin-bottom: 15px;
    }

    .intro {
        min-height: 900px;
        padding-top: 150px;
    }

    .intro_title {
        font-size: 40px;
    }

    .intro_subtitle {
        font-size: 14px;
    }

    .search-form_submit {
        font-size: 18px;
        padding: 10px 30px;
        display: block;
        width: 100%;
        font-size: 16px;
    }




    .benefits_title {
        font-size: 35px;
        padding: 55px 0 55px 0px;
        display: flex;
        justify-content: center;
    }

    .benefits_cards {
        padding: 0 20px;
    }

    .places_card_img  {
        height: 250px;
    }

    .top {
        margin-bottom: 10px;
    }

    .top_title {
        margin-bottom: 35px;
    }
}






@media (max-width: 376px) {
    .header__burger {
        height: 24px;
    }

    .intro {
        padding-top: 130px;
    }

    .intro_title {
        font-size: 30px;
        line-height: 35px;
        margin-bottom: 15px;
    }

    .intro_subtitle {
        font-size: 14px;
        line-height: 20px;
    }



    .search-form_field {
        margin-right: 0px;
        font-size: 15px;
        padding: 8px 0 10px 30px;
        background-size: 15px;
    }


    .places_card_img {
        height: 200px;
    }





    .top {
        margin-bottom: 25px;
    }

    .footer_nav_requistes_item {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .footer_nav_requistes_item ul li a {
        font-size: 14px;
    }
}






@media (max-width: 325px) {
    .section_title {
        font-size: 20px;
    }

    .intro_subtitle {
        margin-bottom: 40px;
    }

    .benefits_title {
        font-size: 30px;
        transform: translate(-50%, -100%);
        padding: 45px 0;
    }
}










